body {
  display: block;
  margin: 8px;
  overflow-y: auto;
  overflow-x: hidden;
}
.container {
  max-width: 1920px;
  min-width: 1000px;
  margin: auto;
  overflow: hidden;
  /*background-color: red;*/
}
.box {
  position: relative;
  /*padding-top: 56.25%;*/
  /*background-color: yellow;*/
  width: 1349px;
  height: 758.813px;
}

.box .logo {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 40;
}

.box .nav {
  z-index: 20;
  position: absolute;
  width: 181px;
  height: 647px;
  left: 0;
  top: 260px;
  /*background-color: red;*/
}
.box .nav .nav__bg{
  border: 0;
  vertical-align: middle;
  height: 55%;
}
.nav .nav__last{

  text-decoration: none;
  top: 88px;
  position: absolute;
  width: 119px;
  left: 82px;
  color: #c5be80;
  font-size: 14px;

}
.nav .nav__active {
  top: 27%;
  left: 56%;
  color: #fff;
  position: absolute;
  width: 62px;
  font-size: 14px;;
}
.nav .nav__next{
  top: 41.579598%;
  left: 45.690608%;
  color: #c5be80;
  position: absolute;
  width: 60px;
  font-size: 14px;
}
.nav__active, .nav__last, .nav__next {
  position: absolute;
  margin-top: -10px;
  margin-left: 10px;
  line-height: 20px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 50;
}

.box .back{
  position: absolute;
  z-index: 15;
  top: 62px;
  right: 180px;
  display: block;
  margin-top: 7px;
  height: 30px;
  width: 106px;
  margin-right: 12px;
  opacity: .4;
  color: #fff;

}

.box .music{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  right: 69px;
  /*url(https://tianyu.res.netease.com/pc/zt/20160310144216/images/music-out_568c6eb.png) no-repeat 0 0*/
}
.box .music__text{
  display: block;
  width: 52px;
  height: 20px;
  position: absolute;
  top: 59px;
  left: 1229px;
  font-size: 17px;
  z-index: 20;
  color: #fff;
}
.page__hailong{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  /*background-color: red;*/
  display: block;
}
.page__hailong .page__body{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.page__hailong .page__body .desc{
  position: absolute;
  top: 50%;
  margin-top: -186px;
  /*color: #fff;*/
  font-size: 12px;
  line-height: 21px;
  z-index: 10;
  left: 24.0625%;
  display: block;
  height: 245px;
}
.page__hailong .page__body .desc .desc__top{
  margin-bottom: 44px;
  position: absolute;
  width: 400px;
  height: 245px;
  color: #fff;
  left: 56px;
}
.page__hailong .page__body .desc .desc__top .desc__title{
  float: left;
  margin-right: 40px;
  position: absolute;
  width: 60px;
 right: 367px;
}
.page__hailong .page__body .desc .desc__top .desc__title img{
  border: 0;
  vertical-align: middle;
  width: 60px;
  position: absolute;
  left: 0;
  z-index: 15;
  display: block;
}
.page__hailong .page__body .desc .desc__top .desc__line{
  width: 13px;
  height: 0;
  border-bottom: 1px solid;
  opacity: .5;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 23px;

}
.page__hailong .page__body .desc .desc__top .desc__play-wrap{
  position: relative;
  display: block;
  height: 87px;
  width: 219px;
  margin-left: 100px;
  text-align: center;
}

.page__hailong .page__body .desc .desc__top .desc__play-wrap video{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
}
.page__hailong .page__body .desc .desc__list{
  color: #fff;
  font-size: 12px;
  line-height: 21px;
  position: absolute;
  width: 400px;
  top: 277px;
}

.page__hailong .page__body .dragon__scene1{
  height: 100%;
  right: 0%;
  bottom: 0%;
  transform: translate(5.12973px, 0px);
  position: absolute;
}
.page__hailong .page__body .dragon__scene2{
  height: 100%;
  right: 0%;
  bottom: 0%;
  transform: translate(2.56486px, 0px);
  position: absolute;
}
.page__hailong .page__body .dragon__scene3{
  width: 21.5625%;
  right: 33.3333%;
  bottom: 0%;
  transform: translate(10.2595px, 0px);
  position: absolute;
}
.page__hailong .page__body .dragon__scene4{
  width: 41.6146%;
  bottom: 0%;
  right: 0%;
  transform: translate(6.41216px, 0px);
  position: absolute;
}
.page__hailong .page__body .map-entrance{
  position: absolute;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  top: 625px;
}

